/* @import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.27.1/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/core@1.27.1/dist/theme-default.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css";
@import "https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css"; */

@import "/node_modules/@vue-flow/core/dist/style.css";
@import "/node_modules/@vue-flow/core/dist/theme-default.css";
@import "/node_modules/@vue-flow/controls/dist/style.css";
@import "/node_modules/@vue-flow/minimap/dist/style.css";
@import "/node_modules/@vue-flow/node-resizer/dist/style.css";

/* @import "./@vue-flow/core/style.css";
@import "./@vue-flow/core/theme-default.css";
@import "./@vue-flow/controls/style.css";
@import "./@vue-flow/minimap/style.css";
@import "./@vue-flow/node-resizer/style.css"; */

html,
body,
#app {
  margin: 0;
  height: 100%;
}

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}
